.wrapper {
  grid-column: span 2;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-inline: 16px;
  width: 100%;
  max-width: 25vh;
  margin-inline: auto;
}
.wrapper img {
  width: 100%;
}
.wrapper button {
  width: 100%;
  background-color: var(--primary);
}