.App {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-inline: 24px;
  align-items: flex-start;
}
.aside,.buttons {
  position: sticky;
  top: 0;
}
.buttons {
  background: rgb(0,70,67);
  background: linear-gradient(0deg, rgba(0,70,67,0.7707457983193278) 0%, rgba(0,70,67,1) 100%);
  

}
button {
  margin-block: 16px;
}
.songs button + button {
  margin-inline-start: 8px;
}
.songs button.play {
  background-color: #f9bc60;
}
ul {
  padding: 0;
  list-style: none;
}
li, .songs button{
  transition-property: box-shadow, color;
  transition-duration: 100ms;
  transition-timing-function: ease;
}
li {
  cursor: pointer;
  width: fit-content;
  padding: 2px;
  border-radius: 2px;
  user-select: none;
}
li + li {
  margin-block-start: 8px;
}
li.selected {
  text-decoration: underline;
}
li:hover{
  text-decoration: underline;
}
.songs button:hover {
  border: 1px solid #001e1d;
}
button:focus,
button:active,
li:active,
li:focus {
  box-shadow: 0 0 0 1px black, 0 0 0 4px #001e1d;
  outline: none;

}